/Escola/nbproject/private/
/Escola/build/
/Escola/dist/
/API-2/EscolaAPI/nbproject/private/
/API-2/EscolaAPI/build/
/API-2/EscolaAPI/dist/
/API/EscolaAPI/nbproject/private/
/API/EscolaAPI/build/
/API/EscolaAPI/dist/